body {
  background: #fff url('../assets/news-bg.png') no-repeat fixed center center;
  background-size: 100%;
}

.main-title {
  color: peachpuff;
  text-shadow: 1px 1px 2px red, 0 0 1em cornsilk, 0 0 0.2em aqua;
  font-family: -webkit-pictograph, sans-serif;
  font-size: 60px;
  text-align: center;
}

.card-notification p {
  display: flex;
  align-items: center;
  color: #1300a4;
  font-size: 1.25rem;
  font-weight: 600;
}

.card-notification .material-icons {
  color: #c200ff;
  font-size: 1.9rem;
  margin-right: 1rem;
}

.card {
  background-color: antiquewhite;
  padding-top: 12px;
}

.card .select-wrapper input.select-dropdown,
.card .input-field input#search {
  font-size: 18px;
  padding-top: 8px;
}

.card .input-field label {
  font-size: 0.9rem;
  margin-left: 3px;
}

.card .input-field label.search-label {
  font-size: 1.2rem;
}

.card .card-content .card-title a {
  font-weight: bolder;
}

.card .card-content .card-title a:hover {
  color: royalblue;
}

.card .card-content .card-date {
  color: gray;
  font-size: 12px;
  margin-bottom: 10px;
}

.card .card-action a {
  display: flex;
  justify-content: space-between;
}

.card .card-action a span {
  display: inline-block;
}

.card .card-action a .card-source-name {
  color: dodgerblue;
  text-transform: lowercase;
}

.card .card-action a:hover .card-source-name {
  color: darkblue;
}
